* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.wrapper {
    text-align: center;
}
.books-container {
    display: flex;
    flex-direction: row;
}
.books-card {
    background-color: red;
    padding: 0.5em;
    margin: 0.5em;
}