* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 1em 1em;
}
.website-description {
    margin: 1em 1em;
    line-break:normal;
}
.wrapper {
    text-align: center;
}
.books-container {
    display: flex;
    flex-direction: row;
}
.books-card {
    margin: 0.5em;
    border-radius: 1em;
}
.book-img-cover {
    width: 100%;
}